
<body>
    <div id="header">
      <h1>Furama Resort</h1>
      <li><a href="#link"><b>Đăng Kí</b></a></li>
      <li><a href="#link"><b>Đăng Nhập</b></a></li>
      <img src="assets/images/images1.jpg" height="228" width="292"/>
      <img src="assets/images/images2.jpg" height="228" width="292"/>
      <img src="assets/images/images3.jpg" height="228" width="292"/>
      <img src="assets/images/images4.jpg" height="228" width="400"/>
     
    </div>
<nav>
    <ul>
        <li><a href="#link">Trang Chủ</a></li>
        <li><a href="#link">Dich Vụ</a></li>
        <li><a href="#link">Sản Phẩm</a></li>
        <li><a href="#link">Diễn Dàn</a></li>
        <li><a href="#link">Liên Hệ</a></li>
        <li><a href="#link">Hỗ Trợ</a></li>
        <li><a routerLink="add-cus">Thêm Khách Hàng</a></li>
        <li><a routerLink="add-emp">Thêm Nhân Viên</a></li>
        <li><a routerLink="add-ct">Thêm Hơp Đồng</a></li>
        
    </ul>
    <form>
        <input type="text" name="search" placeholder="Search..">
    </form>
</nav>
<section>
    <article>
        <h1>giới thiệu về furama đà nẵng</h1>
        <img src="assets/images/images5.jpg" height="150" width="180"/>
        <p>Furama Resort Đà Nẵng là một khu nghỉ dưỡng 5 sao sang trọng, có uy tín và được xem là một trong những biểu tượng của ngành du lịch Việt Nam. Đến đây, du khách sẽ được chiêm ngưỡng khung cảnh tuyệt đẹp, thơ mộng của biển Đà Nẵng, với bãi cát trắng trải dài như vô tận. Khu nghỉ dưỡng còn có tiện nghi hiện đại, sang trọng và giá vô cùng hấp dẫn, hứa hẹn mang đến những trải nghiệm tuyệt vời nhất cho khách du khách.</p>
    </article>
    <article>
        <h1>Ẩm thực furama</h1>
        <img src="assets/images/images7.jpg" height="150" width="180"/>
        <p>Trải nghiệm ẩm thực tại Khu nghỉ có sự pha trộn độc đáo các món ăn truyền thống Việt Nam với nhiều những hương vị ẩm thực châu Á, Ý và châu Âu cùng các món bò nhập khẩu thượng hạng tại đa dạng các nhà hàng, quầy bar đẳng cấp được bao quanh bởi một khu vườn nhiệt đới hay hướng mình ra biển, đón những hơi thở mát mẻ thổi về từ biển đông.</p>
    </article>
    <article>
        <h1>Giải Trí Trong Furama</h1>
        <img src="assets/images/images6.jpg" height="150" width="180"/>
        <p>Biến kỳ nghỉ dưỡng năng động hơn bằng cách tham gia các hoạt động thể thao trên nước từ chèo thuyền catamaran, lướt ván buồm, chèo thuyền trên biển, lướt vát, đi xe đạp nước, trượt nước, lướt ván, chuối, dù lượn và đa dạng các hoạt động với dụng cụ thể thao có sẵn để thuê, mượn.</p>
    </article>
</section>
<!-- <footer>
    <img src="assets/images/images8.jpg" height="50" width="80"/>
    <p>nguyenphuc2019@gmail.com</p>
</footer> -->
</body>

